// Colors
$colorBlack: #000000;
$colorGray: #4B4B4B;
$colorLightGray: #797979;
$colorWhite: #FAFAFA;
$colorGold: #FFB91F;

// Fonts
$fontMain: 'Mulish', 'Roboto', sans-serif;
$fontSecondary: 'New Rocker', sans-serif;