// Breakpoints
$breakpoint1024: 1023.98px;
$breakpoint768: 767.98px;
$breakpoint576: 575.98px;
$breakpoint400: 399.98px;

// Colors
$colorBlack: #000000;
$colorGray: #4B4B4B;
$colorLightGray: #797979;
$colorWhite: #FAFAFA;
$colorGold: #FFB91F;
$colorRed: #f03939;

// Fonts
$fontMain: 'Mulish', 'Roboto', sans-serif;
$fontSecondary: 'New Rocker', sans-serif;